# {{ ansible_managed }}

{% if wtd_chrony_cfg_serveroption %}
{% for wtd_chrony_cfg_server in wtd_chrony_cfg_servers %}
server {{ wtd_chrony_cfg_server }} {{ wtd_chrony_cfg_serveroption }}
{% endfor %}
{% else %}
{% for wtd_chrony_cfg_server in wtd_chrony_cfg_servers %}
server {{ wtd_chrony_cfg_server }}
{% endfor %}
{% endif %}
driftfile {{ wtd_chrony_cfg_driftfile }}
{% if wtd_chrony_cfg_stratumweight %}
stratumweight {{ wtd_chrony_cfg_stratumweight }}
{% endif %}
{% if wtd_chrony_cfg_rtcsync =='true' %}
rtcsync
{% endif %}
makestep {{ wtd_chrony_cfg_makestep }}
{% if wtd_chrony_cfg_allows %}
{% for wtd_chrony_cfg_allow in wtd_chrony_cfg_allows %}
allow {{ wtd_chrony_cfg_allow }}
{% endfor %}
{% endif %}
{% if wtd_chrony_cfg_local == 'true' %}
{% if wtd_chrony_cfg_local_stratum %}
local stratum {{ wtd_chrony_cfg_local_stratum }}
{% endif %}
{% if wtd_chrony_cfg_local_distance %}
local distance {{ wtd_chrony_cfg_local_distance }}
{% endif %}
{% if wtd_chrony_cfg_local_orphan %}
local orphan {{ wtd_chrony_cfg_local_orphan }}
{% endif %}
{% endif %}
{% for wtd_chrony_cfg_bindcmdaddress in wtd_chrony_cfg_bindcmdaddresses %}
bindcmdaddress {{ wtd_chrony_cfg_bindcmdaddress }}
{% endfor %}
{% if wtd_chrony_cfg_keyfile %}
keyfile {{ wtd_chrony_cfg_keyfile }}
{% endif %}
{% if wtd_chrony_cfg_noclientlog == 'true' %}
noclientlog
{% endif %}
logchange {{ wtd_chrony_cfg_logchange }}
logdir {{ wtd_chrony_cfg_logdir }}
{% if wtd_chrony_cfg_log %}
log {{ wtd_chrony_cfg_log }}
{% endif %}
